extends layout

block content
    .main
        h1.text-center Events
    div.container
        table.table.table-striped
            thead.thead-default
                tr
                    th(width="50px") ID
                    th Name
                    th Category
                    th City
                    th State
            tbody
                tr
                    td {id}
                    td {name}
                    td {category}
                    td {city}
                    td {state}
                tr
                    td {id}
                    td {name}
                    td {category}
                    td {city}
                    td {state}
                tr
                    td {id}
                    td {name}
                    td {category}
                    td {city}
                    td {state}                