<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./css/style.css"/>
    <title>Simply</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light d-flex justify-content-between">
      <div><a class="navbar-brand" href="/">Simply</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      </div>
      <div>
        <div class="collapse navbar-collapse text-right" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/signup">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Sign in</a></li>
            <li class="nav-item"><a class="nav-link" href="/events">View Data</a></li>
            <li class="nav-item"><a class="nav-link" href="/create">Create Event</a></li>
            <li class="nav-item"><a class="nav-link" href="/join">Join Event</a></li>
            <li class="nav-item"><a class="nav-link" href="/user">Dashboard</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main">
      <h1> Welcome</h1>
      <p>  A simple web tool for event planning</p>
      <button class="btn btn-outline-info" type="button">Sign up</button>
    </div>
    <div class="overlay">
      <div class="signup">
        <h2>Sign Up</h2>
        <form action="" method="">
          <div class="form-group row">
            <label class="sr-only" for="email"> Email</label>
            <input class="form-control" id="email" type="email" placeholder="Email"/>
          </div>
          <div class="form-group row">
            <label class="sr-only" for="username">  Username</label>
            <input class="form-control" id="username" type="text" placeholder="Username"/>
          </div>
          <div class="form-group row">
            <label class="sr-only" for="password">  Password</label>
            <input class="form-control" id="password" type="password" placeholder="Password"/>
          </div>
          <button class="btn btn-outline-info" type="submit">Register</button>
        </form>
      </div>
      <div class="login">
        <h2>Login</h2>
        <form action="" method="">
          <div class="form-group row">
            <label class="sr-only" for="email"> Email</label>
            <input class="form-control" id="email" type="email" placeholder="Email"/>
          </div>
          <div class="form-group row">
            <label class="sr-only" for="password">  Password</label>
            <input class="form-control" id="password" type="password" placeholder="Password"/>
          </div>
          <button class="btn btn-outline-info" type="submit">Log in</button>
        </form>
      </div>
      <div class="createEvent">
        <h2>Create new event</h2>
        <form action="" method="">
          <div class="form-group row">
            <label class="sr-only" for="newEventName"> New Event Name</label>
            <input class="form-control" id="newEventName" type="email" placeholder="Name of your new event"/>
          </div>
          <div class="form-group row">
            <label class="sr-only" for="newEventType">  Type of Event</label>
            <input class="form-control" id="newEventType" type="text" placeholder="The type of event you're hosting"/>
          </div>
          <div class="form-group row">
            <label class="sr-only" for="newEventCode">  Create a code 4 digit code</label>
            <input class="form-control" id="newEventCode" type="number" placeholder="Create a 4 digit code for your guests to find you"/>
          </div>
          <button class="btn btn-outline-info" type="submit">Create Event</button>
        </form>
      </div>
      <div class="joinEvent"></div>
    </div>
    <!-- Font Awesome-->
    <script src="https://use.fontawesome.com/f5ff7ead03.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- Own JavaScript-->
    <script src="./js/main.js"></script>
  </body>
</html>