extends layout

block content
    .main
        h1  Welcome
        p   A simple web tool for event planning
        button#btn-signup.btn.btn-outline-info(type="button" data-section="signup") Sign up
    .overlay
        .signup.sections-wrapper
            h2 Sign Up
            form(action="/register" method="POST")
                .form-group.row
                    label.sr-only(for="email")  Email
                    input.form-control(type="email" placeholder="Email" name="email")
                .form-group.row
                    label.sr-only(for="username")   Username
                    input.form-control(type="text" placeholder="Username" name="username")
                .form-group.row
                    label.sr-only(for="password")   Password
                    input.form-control(type="password" placeholder="Password" name="password")
                .form-group.row
                    label.sr-only(for="confirmPassword")   Confirm Password
                    input.form-control(type="password" placeholder="Confirm Password" name="confirmPassword")
                button.btn.btn-outline-info(type="submit") Register
        .login.sections-wrapper
            h2 Login
            form(action="" method="")
                .form-group.row
                    label.sr-only(for="email")  Email
                    input.form-control(type="email" placeholder="Email" name="email")
                .form-group.row
                    label.sr-only(for="password")   Password
                    input.form-control(type="password" placeholder="Password" name="password")
                button.btn.btn-outline-info(type="submit") Log in
        .createEvent.sections-wrapper
            h2 Create new event
            form(action="" method="")
                .form-group.row
                    label.sr-only(for="newEventName")  New Event Name
                    input.form-control(type="text" placeholder="Name of your new event" name="newEventName")
                .form-group.row
                    label.sr-only(for="newEventType")   Type of Event
                    input.form-control(type="text" placeholder="The type of event you're hosting" name="newEventType")
                .form-group.row
                    label.sr-only(for="newEventCode")   Create a code 4 digit code
                    input.form-control(type="number" placeholder="Create a 4 digit code for your guests to find you" name="newEventCode")
                button.btn.btn-outline-info(type="submit") Create Event
        .joinEvent.sections-wrapper
            h2 Join event
            form(action="" method="")
                .form-group.row
                    label.sr-only(for="newEventName")  Event Code
                    input.form-control(type="number" placeholder="Type the code for the event" name="newEventName")
                button.btn.btn-outline-info(type="submit") Join Event