extends layout

block content
    .main
        h1  Welcome
        p   A simple web tool for event planning
        button.btn.btn-outline-info(type="button") Sign up
    .overlay
        .signup
            h2 Sign Up
            form(action="" method="")
                .form-group.row
                    label.sr-only(for="email")  Email
                    input.form-control#email(type="email" placeholder="Email")
                .form-group.row
                    label.sr-only(for="username")   Username
                    input.form-control#username(type="text" placeholder="Username")
                .form-group.row
                    label.sr-only(for="password")   Password
                    input.form-control#password(type="password" placeholder="Password")
                button.btn.btn-outline-info(type="submit") Register
        .login
            h2 Login
            form(action="" method="")
                .form-group.row
                    label.sr-only(for="email")  Email
                    input.form-control#email(type="email" placeholder="Email")
                .form-group.row
                    label.sr-only(for="password")   Password
                    input.form-control#password(type="password" placeholder="Password")
                button.btn.btn-outline-info(type="submit") Log in
        .createEvent
            h2 Create new event
            form(action="" method="")
                .form-group.row
                    label.sr-only(for="newEventName")  New Event Name
                    input.form-control#newEventName(type="email" placeholder="Name of your new event")
                .form-group.row
                    label.sr-only(for="newEventType")   Type of Event
                    input.form-control#newEventType(type="text" placeholder="The type of event you're hosting")
                .form-group.row
                    label.sr-only(for="newEventCode")   Create a code 4 digit code
                    input.form-control#newEventCode(type="number" placeholder="Create a 4 digit code for your guests to find you")
                button.btn.btn-outline-info(type="submit") Create Event
        .joinEvent