extends layout

block content
    .main
        h1.text-center Register
        .text-center
            form(action="" method="")
                .form-group.row
                    label(for="email")  Email
                    input.form-control#email(type="email" placeholder="Email")
                .form-group.row
                    label(for="username")   Username
                    input.form-control#username(type="text" placeholder="Username")
                .form-group.row
                    label(for="password")   Register
                    input.form-control#password(type="password" placeholder="Password")
                button.btn.btn-outline-info(type="submit") Register
