extends layout

block content
    .container-fluid
        .row
            .sidebar.col-sm-4
                .profile-img
                    h3 Hi Jean Paul
                    ul
                        li  
                            a
                                div.icon.icon-name
                                span.event-name Event Type || Event Name
                                        li  
                            a
                                div.icon.icon-calendar
                                span.event-date 06/19/2018
                                            li  
                            a
                                div.icon.icon-city
                                span.event-city Orlando, FL
                                            li  
                            a
                                div.icon.icon-phone
                                span.event-phone 786.712.8327
            .event-info.col-sm-8
                h3 Table
                
                
                        
    h1.text-center 