extends layout

block content
    .main
        h1.text-center Events
    div.container
        table.table
            tr
                th ID
                th Name
                th Type
                th City
                th State
